<div class="container">
  <div class="text-center">
    <h1>Postular a Oferta Laboral</h1>

    <%= form_with(model: @job_application, url: job_offer_job_applications_path(@job_offer), class: "form") do |form| %>
      <%= form.hidden_field :job_offer_id %>
      <%= form.submit "Postular", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
